.panel {
    margin-left: 600px;
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: bisque;
    border: 10px ridge burlywood;
    text-align: center;
}

.buttonContainer {
    color: black;
    width: 250px;
    height: 250px;
}

.text {
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}

.panelButton {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    font-size: large;
}

.black {
    color: black;
}

.red {
    color: red;
}

