.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/app-background.png);
  background-size: cover;
}

.title {
  color: antiquewhite;
  font-size: 40px;
  font-weight:bolder;
  text-shadow:
    0.07em 0 black,
    0 0.07em black,
    -0.07em 0 black,
    0 -0.07em black;
}
